body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333333;
    background-color: #39887d;

}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

p{
    text-align: center;
    color: red;
}

.green_color{
    color: #00ff00;
}

[id="pinc_color"]{
    color: deeppink;
}

.list{
    color: deeppink;
}

.senders{
    display: flex;
    flex-direction: column;

    align-items: center;
    transition: color 2.0s initial;

}

.sender:hover{
    color: #a9a900;
}
.sender{
    color: black;
    font-size: 30px;
    text-decoration: none;
}

.sub_sender{
    ccolor: #00ff00;
    font-size: 30px;
}
.sub_sender:hover{
    color: #a9a900;
}

.sub{
    list-style-type:none;
}
.sub:hover{
    color: #a9a900;
}
.sub_3{
    list-style-type: square;
    transition: color 2.0s initial;
}

[id="1"]{
    text-decoration: none;

}

.sub_3:hover{
    color: #a9a900;
}


